.navbar{
	margin-bottom: 0px;
}
.inline-block{
	display: inline-block;
}
.white{
	background: white;
}
.big-padding{
	padding: 30px;
}
.blue-grey{
	background: #37474f;
}
.white-text{
	color: white !important;
}
.table{
	background: white;
}
.floating{
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}
.product{
	width: 600px;
	max-width: 100%;
	padding:1em;
	position: relative;
}
.product>h1{
	padding-bottom: 10px;
	border-bottom: 1px solid;
}
.product>.actions{
	right: 1em;
	top:10px;
}